/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --white: #ffffff;
  --black: #000000;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--slate-300);
  color: var(--black);
  font-family: 'Outfit', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

h1 {
  color: var(--slate-900);
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.2;
}

p {
  color: var(--slate-500);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin-block-start: 1rem;
  color: var(--slate-900);
}

.attribution a {
  color: var(--slate-500);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}
.card {
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  padding-bottom: 2.5rem;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
